@import url("https://fonts.googleapis.com/css?family=Old+Standard+TT");
html,
body {
  font-family: "Old Standard TT", serif;
  background-color: #1f1f1f;
  margin: 0;
  font-size: 0;
  color: white;
  text-align: center;
  overflow: hidden;
}

#clock {
  font-size: 24px;
  width: 350px;
  height: 350px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -175px;
  margin-top: -175px;
}

.digit-group {
  display: inline-block;
  height: 350px;
}
.digit-group:not(:last-child):after {
  content: ":";
  font-size: 72px;
}

.digit {
  display: inline-block;
  width: 50px;
  height: 350px;
}
.digit .digit-number {
  color: rgba(255, 255, 255, 0.1);
  transform: rotate(-90deg);
  transition: font-size 200ms, transform 350ms, color 150ms;
}
.digit .digit-number.highlight {
  color: inherit;
  font-size: 72px;
  transform: rotate(0deg);
}